<section class="footer">
  <div class="footer-inner">
    <ul class="footer-nav">
      <li class="footer-nav-col">
        <h3 class="footer-nav-col-title">TIRES BY SEASON</h3>
        <ul class="footer-links">
          <li><a href="#" class="footer-links">Summer Tires</a></li>
          <li><a href="#" class="footer-links">All Season Tires</a></li>
          <li><a href="#" class="footer-links">Winter Tires</a></li>
          <li><a href="#" class="footer-links">Truck Tires</a></li>
          <li><a href="#" class="footer-links">Runflat Tires</a></li>
          <li><a href="#" class="footer-links">Performance Tires</a></li>
        </ul>
      </li>
      <li class="footer-nav-col">
        <h3 class="footer-nav-col-title">CONTACT US</h3>
        <ul class="footer-links">
          <li><a href="#" class="footer-links">Click to Chat</a></li>
          <li><a href="#" class="footer-links">Email Us</a></li>
          <li><a href="#" class="footer-links">Call Us 1(844)281-0089</a></li>
        </ul>
      </li>
      <li class="footer-nav-col">
        <h3 class="footer-nav-col-title">SUPPORT</h3>
        <ul class="footer-links">
          <li><a href="#" class="footer-links">Find A Store</a></li>
          <li><a href="#" class="footer-links">Fuel Savings Calculator</a></li>
          <li><a href="#" class="footer-links">Register Your Tires</a></li>
          <li><a href="#" class="footer-links">Tire Warrenties</a></li>
          <li><a href="#" class="footer-links">Terms of Use</a></li>
          <li><a href="#" class="footer-links">Privacy Policy</a></li>
        </ul>
      </li>
      <li class="footer-nav-col">
        <h3 class="footer-nav-col-title">COMPANY INFO</h3>
        <ul class="footer-links">
          <li><a href="#" class="footer-links">Why Bridgestone</a></li>
          <li><a href="#" class="footer-links">New &amp; Media Center</a></li>
          <li><a href="#" class="footer-links">Careers</a></li>
          <li><a href="#" class="footer-links">Sustainability</a></li>
          <li><a href="#" class="footer-links">Our Brands</a></li>
          <li><a href="#" class="footer-links">Recalls Campaigns</a></li>

        </ul>
      </li>
    </ul>
  </div>
</section>
