<script>
  var divs = $('div[id^="content-"]').hide(),
    i = 0;
  (function cycle() {
      divs.eq(i).fadeIn(400)
                .delay(5000)
                .fadeOut(400, cycle);
      i = ++i % divs.length;
  })();
</script>
<section class="header">
  <div class="header-inner">
    <a href="http://www.bridgestonetire.com/" class="bs-red-stamp-logo" alt="Bridgestone Tires" title="Bridgestone Tires"></a>
    <div class="logo-type" id="content-1">Your journey, our passion.</div>
    <div class="logo-type" id="content-2">Enter for your chance to win a set of tires.</div>
    <div class="logo-type" id="content-3">We'll be there for you.</div>
    <div class="logo-type" id="content-4">A passion for excellence.</div>
    <div class="logo-type" id="content-5">Enter for your chance to win a set of tires.</div>
    <div class="logo-type" id="content-6">A grip on the future.</div>
    <div class="logo-type" id="content-7">Ultimate performance.</div>
    <nav class="nav">
      <a href="#" alt="Find a store" title="Find a store">FIND A<br/>STORE</a>
      <a href="#" alt="Let's talk" title="Let's talk">LET'S<br/>TALK</a>
      <a href="#" alt="Let's chat" title="Let's chat">LET'S<br/>CHAT</a>
    </nav>
  </div>
</section>
