<section class="product-catalog-main-container">
  <div ng-style="seasonImage" class="product-promo-hero">
    <img src="./public/img/bridgestone-white-logo.svg" class="bs-white-logo" alt="Bridgestone" title="Bridgestone">
    <h1>WIN A SET OF {{tiresToShow[0].tire_season}} TIRES</h1>
    <h5>Enter your details for the chance to win an all new set of Bridgestone tires.</h5>
    <!-- Start: This is the show button  -->
    <a href="" ng-click="showme = !showme" class="bs-entry-cta-button">ENTER NOW</a>
    <!-- End: This is the show button  -->
  </div>
  <div class="product-catalog-item">
      <!-- Start: This is the show/hide container -->
      <div class="bs-submission-confirmation" ng-show="confirmation">
        <h3>CONGRATULATIONS!</h3>
        <h5>Thank you for entering to win a set of Bridgestone tires.</h5>
        <h6>Please check your e-mail for more information on your entry.</h6>
        <a class="confirmation-close" ng-click="confirmation = !confirmation">Close</a>
      </div>
      <div ng-show="showme" class="bs-entry-form">
        <h6>Enter your information below for the change to WIN a brand new set of Bridgestone tires.</h6>
        <!-- Start: Signup/Entry form =====================================  -->
        <form class="" ng-submit="signUp(newUser); sendEmail(newUser.email); confirmation = !confirmation; hideModals()">
          <input type="text" placeholder="First name" ng-model="newUser.firstname" required>
          <input type="text" placeholder="Last name" ng-model="newUser.lastname" required>
          <input type="email" placeholder="Email address" ng-model="newUser.email" required>
          <input type="text" placeholder="Mailing address" ng-model="newUser.mailing" required>
          <input type="text" placeholder="City" ng-model="newUser.city" required>
          <input type="text" placeholder="State" ng-model="newUser.state" required>
          <input type="text" placeholder="Zip Code" ng-model="newUser.zipcode" required>
          <!-- Start: Button  -->
          <button class="bs-entry-cta-button bs-cta-small" type="submit" name="button">Enter!</button>
          <!-- Start: Legal disclaimer -->
          <span class="t-and-c"><sup>*</sup>Subject to terms and conditions. Certain limitations apply.</span>
          <!-- End: Legal disclaimer -->
        </form>
        <!-- End: Signup/Entry form =======================================  -->
      </div>
      <!-- End: This is the show/hide container -->
  </div>
  <section ng-repeat="tire in tiresToShow" class="product-catalog-item bs-tire-border">
    <section class="tire-image">
      <div class="tire-image__container">
        <figure class="tire-image-figure">
          <img ng-src="{{tire.image1_url}}" class="bs-tire-thumb">
        </figure>
      </div>
    </section>
    <section class="tire-stuff">
      <div class="tire-brand-info">
        <h3 class="tire-large-type">{{tire.brand}}</h3>
        <h3 class="tire-large-type">{{tire.description}}</h3>
        <p class="tire-small-type">{{tire.tire_category}} {{tire.tire_season}}</p>
      </div>
      <div class="tire-price-n-warranty">
        <p class="tire-large-type">${{tire.price}}</p>
      </div>
      <div class="tire-price-n-warranty">
        <span ng-show="tire.warranty_miles" class="tire-small-type">Warranty Miles</span>
        <p class="tire-large-type">{{tire.warranty_miles}}</p>
      </div>
    </section>
    <section class="tire-content">
      <div class="tire-featured">
        <div ng-show="tire.featured" class="tire-feature-flag"></div>
      </div>
      <div class="tire-headlines">
        <p class="tire-headline tire-large-type">{{tire.headline}}</p>
        <p class="tire-med-type">{{tire.tire_facts}}</p>
      </div>
    </section>
    <section class="tire-facts-cta">
      <!-- description and buttons, etc.  -->
      <a ng-click="catalogClick(showme);" class="bs-entry-cta-button">ENTER NOW</a>
    </section>
  </section>
  </section>
</section>
