/* ============================================================================= */
/* ============================ Start: Footer ================================== */
/* ============================================================================= */

$footerNavTitle: 'Pathway Gothic One', sans-serif;
$footerLinkFont: 'Roboto', sans-serif;

.footer {
  width: 100%;
  background: #EEE;
}

.footer-inner {
  padding: 30px 120px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav-col {
  display: flex;
  flex-direction: column;
  font-family: $footerLinkFont;
  font-size: 14px;;
}

.footer-nav-col-title {
  font-family: $footerNavTitle;
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 20px;
}

.footer-links {
  line-height: 50px;
  color: #999;

  &:hover {
    color: #666;
  }
}

// Footer SCSS : Media Query Breakpoints ======================================= */
/* === Break point: max-width : 1200px ========================================= */
@media only screen and (max-width : 1236px) {
   // Foo ---
}
/* === End Break point: max-width : 1200px ===================================== */
@media only screen and (max-width : 773px) {
  // Foo ---
}
/* === Break point: max-width : 767px ========================================== */
@media only screen and (max-width : 761px) {
  // Foo ---
}
/* === End: Break point: max-width : 767px ===================================== */
/* === Break point: max-width : 626px ========================================== */
@media only screen and (max-width : 626px) {
  // Foo ---
  .footer-links { display: none; }
}
/* === End: Break point: max-width : 626px ===================================== */
/* === Break point: max-width : 480px ========================================== */
@media only screen and (max-width : 480px) {
   // Foo ---
}
/* === End: Break point: max-width : 480px ===================================== */

/* ============================================================================= */
/* ============================ End: Footer ==================================== */
/* ============================================================================= */
