/* ============================================================================= */
/* ============================ Start: Header ================================== */
/* ============================================================================= */

@import "a-mixins.scss";

$bridgestoneFont: 'Titillium Web', sans-serif;
$navFont: 'Pathway Gothic One', sans-serif;

// Outer shell -----------------------------------------------------------------
.header { width: 100%; }

// Inner container -------------------------------------------------------------
.header-inner {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: flex-start;
}

// REd square logo -------------------------------------------------------------
.bs-red-stamp-logo {
  width: 120px;
  height: 120px;
  background: url('../public/img/BS-logo-stamp.svg') #e42300 no-repeat center center;
  background-size:contain;
  cursor: pointer;
}

// Bridgetone tagline ----------------------------------------------------------
.logo-type {
  font-family: $bridgestoneFont;
  font-weight: normal;
  font-size: 2.5vw;
  display: inline-block;
  margin: 40px 0 0 40px;
  @include no-select;
  cursor: default;
  color: #666;
}

//BLue nav on right side -------------------------------------------------------
.nav {
  width: 300px;
  height: 120px;
  background: #2073e6;
  float: right;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;

  a {
    width: 100px;
    height: 120px;
    text-align: center;
    font-family: $navFont;
    font-size: 18px;
    border-right: 1px solid #1e68d1;
    list-style: none;
    padding-top: 40px;
    align-items: baseline;
    line-height: normal;
    @include no-select;

    &:hover {
      background: #1e68d1;
    }
  }
}

.nav-burger {
  width: 122px;
  height: 120px;
  background: #2073e6 url('../public/img/hamburger.svg') no-repeat center center;
  float: right;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;

  &:hover {
    background: #1e68d1 url('../public/img/hamburger.svg') no-repeat center center;
  }
  display: none;
}

// Header SCSS : Media Query Breakpoints ======================================= */
/* === Break point: max-width : 1200px ========================================= */
@media only screen and (max-width : 1236px) {
   .logo-type { margin: 45px 0 0 40px; }
}
/* === Start: Break point: max-width : 800px =================================== */
@media only screen and (max-width : 1024px) {
  .logo-type { font-size: 2.7vw; margin: 48px 0 0 40px; }
}
/* === End: Break point: max-width : 800px ===================================== */
/* === Break point: max-width : 767px ========================================== */
@media only screen and (max-width : 761px) {
  .logo-type { font-size: 3.5vw; margin: 48px 0 0 30px; }
  .nav { display: none; }
  .nav-burger { display: flex; }
}
/* === End: Break point: max-width : 767px ===================================== */
/* === Break point: max-width : 480px ========================================== */
@media only screen and (max-width : 480px) {
   .logo-type {
     font-size: 4.5vw;
     margin: 25px 0 0 20px;
     max-width: 100px;
   }
}
/* === End: Break point: max-width : 480px ===================================== */


/* ============================================================================= */
/* ============================ End: Header ==================================== */
/* ============================================================================= */
