/* ============================================================================= */
/* ============================== Start: Main ================================== */
/* ============================================================================= */

$bodyBackground: #FFF;
$bridgestoneFont: 'Titillium Web', sans-serif;
$bodyFont: 'Roboto', sans-serif;
$ctaFont: 'Pathway Gothic One', sans-serif;
$headlineColor: #FFF;

body { background: $bodyBackground; }

h1, h2, h3, h4, h5, h6 { font-family: $bridgestoneFont; }

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  width: 100%;
  height: 100vh;
}

// Generic container style, used on all tire catagories
.tire-catagory {
  width: 100%;
  min-height: 485px;
  height: auto;
  text-align: center;
  padding: 0;
  display: block;
}

// Season specific section styles
.summer-section {
  width: 100%;
  height: 353px;
  background: linear-gradient(
      rgba(15, 32, 58, 0.5),
      rgba(15, 32, 58, 0.5)
    ),
    url('../public/img/hero-tire-types-summer.jpg') no-repeat center center;
  padding-top: 30px;

  &:hover {
    background: linear-gradient(
        rgba(15, 32, 58, 0.45),
        rgba(15, 32, 58, 0.45)
      ),
      url('../public/img/hero-tire-types-summer.jpg') no-repeat center center;
  }
}

.all-season-section {
  width: 100%;
  height: 353px;
  background: linear-gradient(
      rgba(15, 32, 58, 0.5),
      rgba(15, 32, 58, 0.5)
    ),
    url('../public/img/hero-tire-types-all-season.jpg') no-repeat center -250px;
  padding-top: 30px;

  &:hover{
    background: linear-gradient(
        rgba(15, 32, 58, 0.45),
        rgba(15, 32, 58, 0.45)
      ),
      url('../public/img/hero-tire-types-all-season.jpg') no-repeat center -250px;
  }
}
.winter-section {
  width: 100%;
  height: 353px;
  background: linear-gradient(
      rgba(15, 32, 58, 0.5),
      rgba(15, 32, 58, 0.5)
    ),
    url('../public/img/hero-tire-types-winter.jpg') no-repeat center center;
  padding-top: 30px;

  &:hover{
    background: linear-gradient(
        rgba(15, 32, 58, 0.45),
        rgba(15, 32, 58, 0.45)
      ),
      url('../public/img/hero-tire-types-winter.jpg') no-repeat center center;
  }
}

// Tire sections typography
.tire-catagory-headline {
  font-family: $bridgestoneFont;
  // font-size: 3.750em; // 60px
  font-size: 5.5vw;
  color: $headlineColor;
  text-shadow: 0 0 8px #232323;
  @include no-select;
  cursor: default;
  margin-bottom: 0;
}
.tire-catagory-subheader {
  font-family: $bridgestoneFont;
  // font-size: 1.250em; // 20px
  font-size: 1.75vw;
  color: $headlineColor;
  text-shadow: 0 0 3px #232323;
  display: block;
  @include no-select;
  cursor: default;
  margin-top: 0;
}

// Season CTA button
.bs-season-cta-button {
  width: 260px;
  // height: 50px;
  border: #FFF 2px solid;
  background-color: rgba(30, 30, 30, 0.4);
  text-align: center;
  font-family: $ctaFont;
  font-size: 1.2em;
  color: $headlineColor;
  padding: 15px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 2px;
  @include no-select;
  cursor: pointer;

  &:hover {
    background-color: rgba(30, 30, 30, 0.3);
    outline: 1px solid #FFF;
    outline-offset: -3px;
  }
}

// Text area below main photo
.catagory-white-box {
  width: 100%;
  min-height: 150px;
  height: auto;
  text-align: left;
  font-family: $bodyFont;
  font-size: 18px;
  line-height: 30px;
  // border-top: 5px solid;
  // border-image: url('../img/bridgestone-color-bar.svg') 25% repeat;

  p { padding: 40px 120px; color: #525252; }
}

// Social links

/* ============================================================================= */
/* ============================== End: Main ==================================== */
/* ============================================================================= */
