/* ============================================================================= */
/* ============================== Start: Main ================================== */
/* ============================================================================= */
@import "a-mixins.scss";

$bodyBackground: #FFF;
$bridgestoneFont: 'Titillium Web', sans-serif;
$bodyFont: 'Roboto', sans-serif;
$ctaFont: 'Pathway Gothic One', sans-serif;
$headlineColor: #FFF;

body { background: $bodyBackground; }

h1, h2, h3, h4, h5, h6 { font-family: $bridgestoneFont; }

.text-link { cursor: pointer; &:hover { color: #2174d8 } }

.main {
  width: 100%;
  height: 100vh;
}

// Generic container style, used on all tire catagories
.tire-catagory {
  width: 100%;
  min-height: 485px;
  height: auto;
  text-align: center;
  padding: 0;
  display: block;
}

// Season specific section styles
.summer-section {
  width: 100%;
  height: 353px;
  background: linear-gradient(
      rgba(15, 32, 58, 0.5),
      rgba(15, 32, 58, 0.5)
    ),
    url('../public/img/hero-tire-types-summer.jpg') no-repeat center center;
  padding-top: 30px;

  &:hover {
    background: linear-gradient(
        rgba(15, 32, 58, 0.45),
        rgba(15, 32, 58, 0.45)
      ),
      url('../public/img/hero-tire-types-summer.jpg') no-repeat center center;
  }
}

.all-season-section {
  width: 100%;
  height: 353px;
  background: linear-gradient(
      rgba(15, 32, 58, 0.5),
      rgba(15, 32, 58, 0.5)
    ),
    url('../public/img/hero-tire-types-all-season.jpg') no-repeat center -250px;
  padding-top: 30px;

  &:hover{
    background: linear-gradient(
        rgba(15, 32, 58, 0.45),
        rgba(15, 32, 58, 0.45)
      ),
      url('../public/img/hero-tire-types-all-season.jpg') no-repeat center -250px;
  }
}
.winter-section {
  width: 100%;
  height: 353px;
  background: linear-gradient(
      rgba(15, 32, 58, 0.5),
      rgba(15, 32, 58, 0.5)
    ),
    url('../public/img/hero-tire-types-winter.jpg') no-repeat center center;
  padding-top: 30px;

  &:hover{
    background: linear-gradient(
        rgba(15, 32, 58, 0.45),
        rgba(15, 32, 58, 0.45)
      ),
      url('../public/img/hero-tire-types-winter.jpg') no-repeat center center;
  }
}

// Tire sections typography
.tire-catagory-headline {
  font-family: $bridgestoneFont;
  // font-size: 3.750em; // 60px
  font-size: 5.5vw;
  color: $headlineColor;
  text-shadow: 0 0 8px #232323;
  @include no-select;
  cursor: default;
  margin-bottom: 0;
}
.tire-catagory-subheader {
  font-family: $bridgestoneFont;
  // font-size: 1.250em; // 20px
  font-size: 1.75vw;
  color: $headlineColor;
  text-shadow: 0 0 3px #232323;
  display: block;
  @include no-select;
  cursor: default;
  margin-top: 0;
}

// Season CTA button
.bs-season-cta-button {
  width: 260px;
  // height: 50px;
  border: #FFF 2px solid;
  background-color: rgba(30, 30, 30, 0.4);
  text-align: center;
  font-family: $ctaFont;
  font-size: 1.4em;
  color: $headlineColor;
  padding: 15px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 2px;
  @include no-select;
  cursor: pointer;

  &:hover {
    background-color: rgba(30, 30, 30, 0.3);
    outline: 1px solid #FFF;
    outline-offset: -3px;
  }
}

// Text area below main photo
.catagory-white-box {
  width: 100%;
  min-height: 150px;
  height: auto;
  text-align: left;
  font-family: $bodyFont;
  font-size: 18px;
  line-height: 30px;
  // border-top: 5px solid;
  // border-image: url('../img/bridgestone-color-bar.svg') 25% repeat;

  p { padding: 40px 120px; color: #525252; }
}

// Social links

// Main SCSS : Media Query Breakpoints ========================================= */
/* === Break point: max-width : 1200px ========================================= */
@media only screen and (max-width : 1236px) {
   // Foo ---
  //  body { background: red; }
}
/* === End Break point: max-width : 1200px ===================================== */
/* === Start: Break point: max-width : 800px =================================== */
@media only screen and (max-width : 1024px) {
  // Foo ---
  // body { background: yellow; }

  .tire-catagory-headline { font-size: 6.2vw; }
  .tire-catagory-subheader { font-size: 2.3vw; padding: 0 35px; }

  .catagory-white-box p { padding: 40px 70px; }
}
/* === End: Break point: max-width : 800px ===================================== */
/* === Start: Break point: max-width : 767px =================================== */
@media only screen and (max-width : 761px) {
  // Foo ---
  // body { background: blue; }

  // .tire-catagory-headline { font-size: 6.2vw; }
  .tire-catagory-subheader { font-size: 2.8vw; padding: 0 46px; }

  .catagory-white-box p { padding: 40px 50px; }
}
/* === End: Break point: max-width : 767px ===================================== */
/* === Start: Break point: max-width : 626px =================================== */
@media only screen and (max-width : 626px) {
  // Foo ---
  // body { background: green; }

  .tire-catagory-headline { font-size: 6.5vw; }
  .tire-catagory-subheader { font-size: 4vw; padding: 0 27px;}
}
/* === End: Break point: max-width : 626px ===================================== */
/* === Start: Break point: max-width : 480px =================================== */
@media only screen and (max-width : 480px) {
   // Foo ---
   body { background: pink; }

   .tire-catagory-headline { font-size: 10vw; padding: 0 20px;}
   .tire-catagory-subheader { font-size: 4.5vw; padding: 0 40px;}

   .catagory-white-box p { padding: 40px; }
}
/* === End: Break point: max-width : 480px ===================================== */


/* ============================================================================= */
/* ============================== End: Main ==================================== */
/* ============================================================================= */
