/* ============================================================================= */
/* ====================== Start: Product Catalog =============================== */
/* ============================================================================= */
@import "a-mixins.scss";

$bridgestoneFont: 'Titillium Web', sans-serif;
$navFont: 'Pathway Gothic One', sans-serif;
$bodyFont: 'Roboto', sans-serif;
$headlineColor: #FFF;

.modal { outline: 22px solid #FFF; outline-offset: -22px; }

.product-catalog-main-container { width: 100%; }

.product-promo-hero {
  height: 265px;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 25px;
  background: #e2e2e2 url('../public/img/summer-winner.png') no-repeat center center;

  h1, h5 {
    color: #FFF;
    text-shadow: 0 0 8px #232323;
    margin: 0;
    @include no-select;
  }

  h1 { font-size: 4.5vw; }
  h5 { font-size: 2vw; }
}

.bs-white-logo {
  position: relative;
  top: 0px;
}

.product-catalog-item {
  width: 100%;
  height: auto;
}

.bs-entry-cta-button {
  width: 260px;
  border: #FFF 2px solid;
  background-color: #2073e6;
  text-align: center;
  font-family: $navFont;
  font-size: 1.6em;
  color: $headlineColor;
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 2px;
  // @include no-select;
  cursor: pointer;

  &:hover {
    background-color: #1e68d1;
    outline: 1px solid #FFF;
    outline-offset: -3px;
  }
}

.bs-cta-small {
  width: 100px;
  margin-right: 20px;
  border: none;

  &:hover { outline: none; }
}

.bs-entry-form {
  padding: 20px 50px 50px 50px;
}

.t-and-c { color:#d1d1d1; font-size:14px; }

.bs-submission-confirmation {
  width: 500px;
  height: 300px;
  border-radius: 2px;
  background-color: #68a412;
  z-index: 500;
  text-align: center;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  outline: 1px solid #81b723;
  outline-offset: -20px;

  // Might remove this - there are no box shadows used anywhere else!! ---------
  -webkit-box-shadow: 0 3px 20px 8px rgba(0,0,0,0.1);
  box-shadow: 0 3px 20px 8px rgba(0,0,0,0.1);

  h3, h5, h6 {
    color: #FFF;
  }

  .confirmation-close {
    color: #FFF;
    padding: 10px 35px;
    margin-top: 10px;
    border: 1px solid #81b723;
    border-radius: 2px;
    position: relative;
    top: 30px;
    background: rgba(31,102,5,0.2);

    &:hover {
      background: rgba(31,102,5,0.3);
    }
  }
}

// -----------------------------------------------------------------------------
// Catalog styling -------------------------------------------------------------

.bs-tire-border { border-top: 2px solid #00a99d;}

.product-catalog-item {
  width: 100%;
  height: auto;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

  padding-bottom: 15px;
}

.tire-image {
  width: 150px;
  min-height: 140px;
  height: auto;
  margin-bottom: 5px;
  -webkit-flex: 0 0 100px;
}

.tire-stuff {
  width: 190px;
  height: auto;
  margin-bottom: 5px;
  z-index: 10;

  .tire-brand-info {
    min-height: 50px;
    padding: 10px 0;
  }
  .tire-price-n-warranty {
    padding-bottom: 10px;
  }
}

.tire-large-type {
  font-family: $navFont;
  font-size: 22px;
  display: inline-flex;
  margin-bottom: 0;
}

.tire-med-type {
  font-family: $bodyFont;
  font-size: 12px;
  color: #666;
  padding-right: 25px;
  line-height: 18px;
}

.tire-small-type {
  font-family: $bodyFont;
  font-size: 8px;
  color: #a3a3a3;
  margin-top: 0;

  @include block;
}

.tire-content {
  width: 512px;
  height: auto;
  margin-bottom: 5px;

  .tire-featured {
    height: 55px;
  }

  .tire-headline {
    margin-bottom: 10px;
  }
}

.tire-facts-cta {
  width: 160px;
  height: auto;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tire-image__container {
  width: 115px;
  height: 140px;

  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.tire-image-figure {
  height: 140px;
  position: relative;
  width: 170px;
  overflow: hidden;
  top: 0px;
  right: 40px;
  margin: 0 40px 1em 40px;
}

.tire-image-figure img {
  bottom: 8px;
  height: auto;
  max-width: 100%;
  position: absolute;
  right: 50px;
}


// Product Catalog SCSS : Media Query Breakpoints ============================== */
/* === Break point: max-width : 1200px ========================================= */
@media only screen and (max-width : 1236px) {
   // Foo ---
  //  .product-catalog-main-container { background: red; }

   .bs-cta-small { width: 61vw; }

   .t-and-c {display: block; margin-top: 20px;}

}
/* === End Break point: max-width : 1200px ===================================== */
@media only screen and (max-width : 773px) {
  // Foo ---
  // .product-catalog-main-container { background: orange; }

  .bs-cta-small { width: 71vw; }
}
/* === Break point: max-width : 767px ========================================== */
@media only screen and (max-width : 761px) {
  // Foo ---
  // .product-catalog-main-container { background: green; }

  .product-promo-hero {
    h1 { font-size: 5.5vw; }
    h5 { font-size: 3vw; }
  }

  .bs-cta-small { width: 68vw; }
}
/* === End: Break point: max-width : 767px ===================================== */
/* === Break point: max-width : 626px ========================================== */
@media only screen and (max-width : 626px) {
  // Foo ---
  // .product-catalog-main-container { background: blue; }

  .bs-entry-form { padding: 20px 30px 50px 30px; }

  .bs-cta-small { width: 69vw; }
}
/* === End: Break point: max-width : 626px ===================================== */
/* === Break point: max-width : 480px ========================================== */
@media only screen and (max-width : 480px) {
   // Foo ---
  //  .product-catalog-main-container { background: pink; }

   .product-promo-hero {
     h1 { font-size: 5.5vw; }
     h5 { font-size: 3vw; }
   }

   .bs-entry-form { padding: 20px 10px 30px 10px; }

   .bs-cta-small { width: 73vw; }

}
/* === End: Break point: max-width : 480px ===================================== */



/* ============================================================================= */
/* ====================== End: Product Catalog ================================= */
/* ============================================================================= */
