/* ============================================================================= */
/* ====================== Start: Product Catalog =============================== */
/* ============================================================================= */
$bridgestoneFont: 'Titillium Web', sans-serif;
$navFont: 'Pathway Gothic One', sans-serif;
$headlineColor: #FFF;

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.product-catalog-main-container { width: 100%; }

.product-promo-hero {
  height: 265px;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 25px;
  background: #e2e2e2 url('../public/img/summer-winner.png') no-repeat center center;

  h1, h5 {
    color: #FFF;
    text-shadow: 0 0 8px #232323;
    margin: 0;
    @include no-select;
  }
}

.bs-white-logo {
  position: relative;
  top: 0px;
}

.product-catalog-item {
  width: 100%;
  height: auto;
}

.bs-entry-cta-button {
  width: 260px;
  border: #FFF 2px solid;
  background-color: #2073e6;
  text-align: center;
  font-family: $navFont;
  font-size: 1.6em;
  color: $headlineColor;
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 2px;
  // @include no-select;
  cursor: pointer;

  &:hover {
    background-color: #1e68d1;
    outline: 1px solid #FFF;
    outline-offset: -3px;
  }
}

.bs-cta-small {
  width: 100px;
  margin-right: 20px;
  border: none;

  &:hover { outline: none; }
}

.bs-entry-form {
  padding: 20px 50px 50px 50px;
}

.t-and-c { color:#d1d1d1; font-size:14px; }

.bs-submission-confirmation {
  width: 500px;
  height: 300px;
  border-radius: 2px;
  background-color: #68a412;
  z-index: 500;
  text-align: center;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  outline: 1px solid #81b723;
  outline-offset: -20px;

  // Might remove this - there are no box shadows used anywhere else!! ---------
  -webkit-box-shadow: 0 3px 20px 8px rgba(0,0,0,0.1);
  box-shadow: 0 3px 20px 8px rgba(0,0,0,0.1);

  h3, h5, h6 {
    color: #FFF;
  }

  .confirmation-close {
    color: #FFF;
    padding: 10px 35px;
    margin-top: 10px;
    border: 1px solid #81b723;
    border-radius: 2px;
    position: relative;
    top: 30px;
    background: rgba(31,102,5,0.2);

    &:hover {
      background: rgba(31,102,5,0.3);
    }
  }
}

// -----------------------------------------------------------------------------
// Catalog styling -------------------------------------------------------------

.bs-tire-border { border-top: 2px solid #00a99d;}

.bs-tire-thumb {}

// From Chrome
.tire-image {
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  min-width: 100px;
  z-index: 10;
  position: relative;
  width: 100px;

  // border: 1px solid blue;
}

// from FF
.tire-image {
  flex: 0 0 100px;
  min-width: 100px;
  position: relative;
  width: 100px;
  z-index: 10;

  // border: 1px solid green;
}

.tire-image__container {
  height: 210px;
  width: 115px;

  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);

  // border: 1px solid red;
}

.tire-image-figure {
  height: 130px;
  position: relative;
  width: 170px;
  overflow: hidden;
  top: 44px;
  right: 40px;
}

.tire-image-figure img {
  bottom: 0;
  height: auto;
  max-width: 100%;
  position: absolute;
  right: 50px;
}

.tire__container {
  align-items: flex-start;
  display: flex;
  flex: 0 1 100%;
  flex-flow: row nowrap;
  max-width: 900px;
  overflow: hidden;
  position: relative;
}

.tire-flags {
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.tire-stuff {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  padding: 1.2rem;
  position: relative;
  width: auto;
  z-index: 40;
}

.tire-heading {
  flex: 1 1 100%;
  margin: 0 0 15px;
  // font-size: 1.2rem;

  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1em;
  }

  border: 1px solid orange;
}

.tire-content {
  margin-bottom: 1.2rem;
}
.tire-content, .tire-facts-cta {
  flex: 0 1 50%;
  position: relative;
  z-index: 20;
}

.tire-facts-cta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.tire-facts {
  flex: 1 1 auto;
  padding-right: 20px;
}

.tire-facts__headline {
  color: #5a5a5a;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 6px;
}

.tire-facts__list {
  color: inherit;
  font-family: "Roboto","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 400;
  line-height: 1.7;
}



/* ============================================================================= */
/* ====================== End: Product Catalog ================================= */
/* ============================================================================= */
