/* ============================================================================= */
/* ============================== Start: Main ================================== */
/* ============================================================================= */

$bodyBackground: #e1e1e1;
$bridgestoneFont: 'Titillium Web', sans-serif;
$bodyFont: 'Roboto', sans-serif;
$ctaFont: 'Pathway Gothic One', sans-serif;

body { background: $bodyBackground; }

h1, h2, h3, h4, h5, h6 { font-family: $bridgestoneFont; font-weight: 600; }

/* ============================================================================= */
/* ============================== End: Main ==================================== */
/* ============================================================================= */
